.navbar-brand {
    font-family: 'Lilita One', cursive;
    font-size: 32px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
}

label, h1, h2, option, th, tr, a, p, button, small {
    font-family: 'Montserrat', sans-serif;
}
