.col-lg-8 {
    background-color: white;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    width: 600px;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 130px;
    margin-bottom: 20px;
}

.col-lg-4 {
    background-color: white;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    width: 350px;
    height: 340px;
    margin-top: 30px;
}

.row {
    margin-top: 20px;
}

h5, p, span, li, h3 {
    font-family: 'Montserrat', sans-serif;
}

.btn {
    width: 300px;
    font-family: 'Montserrat', sans-serif;
}

.my-4 {
    color: lightgray;
}

.mt-100 {
    margin-top: 300px
}


.oldprice {
    text-decoration: line-through;
    font-size: 13px;
    margin-top: 3px;
    margin-left: 10px;
}

.newprice {
    color:red; 
    font-size: 16px;
    font-weight: bold;
}

.price {
    display: flex;
}



