.sale {
    content: url("images/sales.png");
    width: 100%;
    height: 200px;
}

.homeImage {
    content: url("images/home.jpg");
    margin-top: 40px;
}

.brands {
  display: flex;
}

.nike {
  margin-top: 80px;
  margin-bottom: 80px;
  content: url("images/nike.png");
  width: 150px;
  height: 50px;
  margin-right: 100px;
}

.adidas {
  margin-top: 80px;
  margin-bottom: 80px;
  content: url("images/adidas.png");
  width: 150px;
  height: 100px;
}

.reebok {
  margin-top: 80px;
  margin-bottom: 80px;
  content: url("images/reebok.png");
  width: 150px;
  height: 100px;
  margin-left: 100px;
}