
.navbar-brand {
    font-family: 'Lilita One', cursive;
    color: black  !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}
a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
}

.btn {
    font-weight: 700;
    height: 36px;
    width: 200px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    margin-top: 30px;
}

.card {
    background-color: #F7F7F7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 20px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    width: 700px;
}

form {
    width: 350px;
}


.btn.btn-signin {
    background-color: gray;
    font-family: 'Montserrat', sans-serif;;
    font-weight: bold;
    font-size: 16px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
    margin-left: 35px;
    width: 250px;
    
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: darkgray;
}

.forgot-password {
    color:black;
    text-decoration: none;
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: gray;
}

.log-reg {
    float: right; 
    font-size: 14px;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
}