.navbar-brand {
    font-family: 'Lilita One', cursive;
    text-align: center;
    margin-left: 300px;
}


.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 40px;
    background-color: white;
    border-radius: 30px;
    padding: 7px;
    border: 1px solid grey; 
}

.search_input {
    color: black;
    border: 0;
    outline: 0; 
    background: none;
    width: 0;
    
    margin-top: -5px;
}

.search_input {
    padding: 0 10px;
    width: 450px;
    font-family: 'Montserrat', sans-serif;
}

.search_icon {
    height: 30px;
    width: 30px;
    float: right;
    display: flex;
    color:grey;
    text-decoration:none;
    padding: 4px;
}

.search_icon:hover{
    text-decoration:none;
}

.profile {
    display: flex;
    margin-right: 300px;
    margin-bottom: 10px;
}

.fa {
    text-decoration: none;
    margin-right: 30px;
    color: black;
}

.fa:hover {
    color: cornflowerblue;
}

.auth {
    margin-bottom: 20px;
}

.login, .register{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.login {
    margin-left: 10px;
    margin-right: 5px;
}

.register {
    margin-left: 10px;
}

.facebook {
    content: url("images/facebook.png");
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.instagram {
    content: url("images/instagram.png");
    width: 30px;
    height: 30px;
}

.twitter {
    content: url("images/twitter.png");
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

footer {
    margin-top: 80px;
    margin-top: auto;
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media all and (min-width: 992px) {
	.navbar{ padding-top: 0; padding-bottom: 0;}
	.navbar .has-megamenu{ position:static!important;}
	.navbar .megamenu{left:0; right:0; width:100%; padding:35px;  }
	.navbar .nav-link{ padding-top:1rem; padding-bottom:1rem; font-family: 'Montserrat', sans-serif; font-weight: bold; }
    .navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0; }
	.navbar .nav-item:hover .nav-link{ color:cornflowerblue; }
    .navbar .nav-item:hover .nav-link:hover {color:cornflowerblue; }
    .navbar .nav-item .nav-link {text-align: center;}
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); } 
    .navbar .categ {display: table-cell; padding-right: 270px; font-family: 'Montserrat', sans-serif;  }
    .navbar .col-megamenu {display: table; border-spacing: 10px; }
    .navbar .nav-item {width: 100px; height: 50px;}
    .navbar .dropdown-menu .dropdown-item:hover{color: cornflowerblue; background-color: whitesmoke;} 
    .navbar .dropdown-menu-right{ width: 200px; height: 150px; background-color: whitesmoke; }

}

.dropdown-item {
    font-family: 'Montserrat', sans-serif; 
}

.signout {
    margin-top: 25px; 
    margin-left: 10px; 
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-decoration: none;
}

.register:hover{
    text-decoration: none;
}

.signout:hover{
    text-decoration: none;
}

.login:hover{
    text-decoration: none;
}


.cart-count {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-left: 5px;
}

.admin-panel {
    width: 120px;
}

.admin-panel a {
    margin-top: 22px; 
    display: flex;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.admin-panel a:hover{
    text-decoration: none;
}



