.navbar-brand {
    font-family: 'Lilita One', cursive;
    margin-left: 300px;  
}


.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 40px;
    background-color: white;
    border-radius: 30px;
    padding: 7px;
    border: 1px solid grey;
    margin-left: 120px;
}

.search_input{
    color: black;
    border: 0;
    outline: 0; 
}

.search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
}

.search_icon{
    height: 30px;
    width: 30px;
    float: right;
    display: flex;
    color:grey;
    text-decoration:none;
    padding: 4px;
}

.profile {
    display: flex;
    margin-right: 300px;
}

.cart {
    content: url("images/cart-icon.png");
    width: 30px;
    height: 30px;
    margin: 5px;
    margin-right: 15px;
}

.user-profile {
    content: url("images/user-profile.png");
    width: 30px;
    height: 30px;
    margin: 5px;
    margin-right: 15px;
}

.logout {
    content: url("images/logout.png");
    width: 30px;
    height: 30px;
    margin: 5px;
}

.facebook {
    content: url("images/facebook.png");
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.instagram {
    content: url("images/instagram.png");
    width: 30px;
    height: 30px;
}

.twitter {
    content: url("images/twitter.png");
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

footer {
    margin-top: auto;
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media all and (min-width: 992px) {
	.navbar{ padding-top: 0; padding-bottom: 0; }
	.navbar .has-megamenu{position:static!important;}
	.navbar .megamenu{left:0; right:0; width:100%; padding:35px;  }
	.navbar .nav-link{ padding-top:1rem; padding-bottom:1rem;  }
}

.categ {
    display: table-cell;
    padding-right: 300px;  
    
}

.col-megamenu {
    display: table;
    border-spacing: 10px; /*Optional*/
}

.nav-item {
    width: 100px;
    height: 50px;
}

.nav-item a{
    text-align: center;
}

.nav-item a:hover{
    background-color: whitesmoke;
}

.dropdown-menu .dropdown-item:hover{
    color: red;
    background-color: white;
}

