h1, h3, strong {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
}

.products, .total, .address {
    background-color: white;
    padding: 20px 25px 30px;
    margin-top: 20px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); 
}

.total {
    width: 650px; 
    margin-right: 50px;
}

.address {
    width: 600px;
}

.total-address {
    display: flex;
    margin-bottom: 80px;
}

.product_image {
    position: relative;
    float: left;
    margin-right: 104px;
    margin-bottom: 20px;
    width: 220px;
}

.product_image img {
    width: 290px;
    height: 290px;
	transition: .4s ease;
    margin-bottom: 10px;
  }

.product_image img:hover {
	box-shadow: 0 10px 10px rgba(63, 78, 100, 0.15);
	opacity: 0.91;
}
  

.product_title {
	font-family: 'Montserrat', sans-serif;
}

.product_new_price {
	color: red;
	margin-left: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 17px;
}

.product_price {
	text-decoration: line-through;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	margin-top: 3px;
}

.product_price1 {
	font-size: 17px;
	font-weight: bold;
}

.prices {
	display: flex;
}


.product-count {
    display: flex;
    
}

.products-count, .total-price, .delivery, .total-pay {
    display: flex;
}

.product {
    display: inline-block;
    padding: 20px;
}

img {
    float: left;
    width: 100px;
    height: 100px;
    margin-top: 15px;
}

.product-info {
    margin-left: 20px;
}

.product-cost {
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
 
 p {
    font-family: 'Montserrat', sans-serif;
}


.product-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

.qty {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 1px;
}

.size {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 1px;
    margin-bottom: -5px;
}

.product-qty, .product-size {
    display: flex;
}

.product-qty {
    margin-top: -15px;
}

.my-4 {
    color: lightgray;
}


