
.details_image_large img {
    width: 500px;
    height: 500px;
}

.product_details {
    margin-top: 50px;
    font-family: 'Kanit', sans-serif;
}

.price {
    display: flex;
}

.details_name {
    margin-bottom: 20px;
   
}

.details_discount{
    color: red;
    text-decoration: line-through;
    font-size: 20px;
}

.details_price {
    color:green; 
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}

.in_stock_container {
    display: flex;
}

.instock, .outofstock {
    margin-bottom: 20px;
    margin-left: 10px;
    font-weight: bold;
    text-decoration: none;
}

.availability {
    font-weight: bold;
}

.in_stock_container span{
    margin-left: 10px;
    font-weight: bold;
    margin-bottom: 20px;
}

.details_text {
    margin-bottom: 20px;
}

.details_image_thumbnail img {
    width: 100px;
    height: 100px;
}

.details_image_thumbnail:hover {
    border: 1px solid black;
}


.details_image_thumbnails {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 150px;
   margin-top: 50px;
   cursor: pointer;
}

.details_image_thumbnail.active {
    border: 1px solid black;
}

.btn {
    width: 600px;
}

span {
    cursor: pointer; 
}

.number {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.minus{
    font-size: 32px;
    margin-left: 20px;
}

.plus {
    font-size: 32px;
  
}
input{
    height: 34px;
    width: 100px;
    text-align: center;
    font-size: 26px;
    border:1px solid #ddd;
    border-radius:4px;
}
