.product_image img {
    width: 400px;
    height: 420px;
	transition: .4s ease;
	
  }

  .product_image img:hover {
	box-shadow: 0 10px 10px rgba(63, 78, 100, 0.15);
	opacity: 0.91;
  }
  
.product_image {
      position: relative;
      float: left;
	  margin-right: 30px;
	  margin-bottom: 20px;
}

.product_title {
	margin-top: 5px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 20px;
}

.product_new_price {
	color: red;
	margin-left: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 17px;
}

.product_price {
	text-decoration: line-through;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	margin-top: 3px;
}

.product_price1 {
	font-size: 17px;
	font-weight: bold;
}

.prices {
	display: flex;
	margin-top: 10px;
}

.sorting_container {
    margin-left: -30px;
   
}
  
.sorting_bar
{
	width: 100%;
	padding-top: 60px;
	padding-bottom: 60px;
    display: inline-block;
}

a {
	text-decoration: none;
}

.results
{
	font-size: 14px;
	font-weight: 400;
	color: #6c6a74;
}
.item_sorting
{
	display: flex;
}
.item_sorting > li
{
	display: inline-block;
	position: relative;
	width: 180px;
	height: 36px;
	line-height: 32px;
	cursor: pointer;
	border: solid 2px #ececec;
	padding-left: 26px;
	padding-right: 19px;
	margin-right: 8px;
	font-size: 14px;
	font-weight: 400;
	color: #6c6a74;
	margin-bottom: 10px;
}

.num_sorting_text
{
	padding-right: 11px;
}
.item_sorting li i
{
	float: right;
	line-height: 32px;
	font-size: 10px;
	color: #787878;
}
.item_sorting li ul
{
	display: block;
	position: absolute;
	right: 0;
	margin: 0;
	width: 100%;
	background: #FFFFFF;
	visibility: hidden;
	opacity: 0;
	z-index: 1;
	box-shadow: 0 15px 25px rgba(63, 78, 100, 0.15);
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: all 0.3s ease;
}
.item_sorting > li:hover ul
{
	visibility: visible;
	opacity: 1;
	top: calc(100% + 1px);
}
.item_sorting li ul li
{
	display: block;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
}
.item_sorting li ul li span
{
	display: block;
	height: 36px;
	line-height: 36px;
	border-bottom: solid 1px #dddddd;
	color: #6c6a74;
	text-align: right;
	padding-right: 5px;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: all 0.3s ease;
}
.item_sorting li ul li span:hover
{
	color: #b5aec4;
}
.item_sorting li ul li:last-child span
{
	border-bottom: none;
}
.item_sorting li span:nth-child(2)
{
	margin-left: 63px;
}
