.details_image_large img {
    width: 500px;
    height: 500px;
    background-color: rgb(240, 240, 240, 0.3);
}

.product_details {
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-family: 'Montserrat', sans-serif; 
}

.price {
    display: flex;
}

.details_name {
    margin-bottom: 20px;
   
}

.oldprice {
    text-decoration: line-through;
    font-size: 16px;
    margin-top: 5px;
}

.newprice {
    color:red; 
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.oldprice1 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.instock, .outofstock {
    margin-bottom: 20px;
    margin-left: 10px;
    font-weight: bold;
    text-decoration: none;
}

.availability {
    font-weight: bold;
}

.details_text {
    margin-bottom: 20px;
}

.details_image_thumbnail img {
    width: 100px;
    height: 100px;
}

.details_image_thumbnail:hover {
    border: 1px solid black;
}

.details_image_thumbnail {
    border: 1px solid lightgray;
}

.details_image_thumbnails {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 150px;
   margin-top: 50px;
   cursor: pointer;
}

.details_image_thumbnail.active {
    border: 1px solid black;
}

.btn {
    width: 620px;
}

.size {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.select-size {
    margin-bottom: 20px;
}

.product_image {
    position: relative;
    float: left;
    margin-right: 104px;
    margin-bottom: 20px;
    width: 220px;
}

.product_image img {
    width: 290px;
    height: 290px;
	transition: .4s ease;
  }

.product_title {
	margin-top: 5px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 20px;
}

.product_new_price {
	color: red;
	margin-left: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 17px;
}

.product_price {
	text-decoration: line-through;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	margin-top: 3px;
}

.product_price1 {
	font-size: 17px;
	font-weight: bold;
}

.prices {
	display: flex;
	margin-top: 10px;
}

